<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <script src="js/index.js"></script>
  </head>
  <body>
    <button id="new-game-button" class="new-game-button"><h3>START A NEW GAME</h3></button>
  </body>
</html>
